* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 18px;
}
body {
  background-color: rgb(19, 19, 19);
  color: #fff;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.container h2 {
  text-align: center;
}
#game-board {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.snake {
  background-color: rgb(255, 102, 0);
}
.apple {
  background: url("./assets/apple.png");
  background-position: center center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.btn {
  border: 0;
  outline: 0;
  padding: 1em 1.5em;
  font-weight: bold;
  transition: all 0.3s ease-out;
  background-color: rgb(48, 48, 48);
  color: #fff;
  transition: all 0.3s ease-out;
  flex: 1;
}
.btn:hover,
.btn-focus {
  background-color: rgb(255, 102, 0);
}
#board-size {
  border: 0;
  outline: 0;
  padding: 1.1em 0.5em;
  margin-right: 0.5em;
}
.input-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 385px) {
  .input-wrap {
    flex-direction: column;
    align-items: stretch;
  }
  .generate-board-btn {
    margin-top: 1em;
  }
  #board-size {
    margin-right: 0;
    text-align: center;
  }
}
.result-model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}
.result-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  background-color: rgb(26, 26, 26);
  padding: 2em;
  transform: scale(0.8);
  transition: all 0.3s ease-out;
  border-radius: 0.5em;
}
@media (min-width: 767px) {
  .result-popup {
    width: 50%;
  }
}
.result-model.active {
  pointer-events: initial;
  opacity: 1;
}
.result-model.active .result-popup {
  transform: scale(1);
}
#model-image {
  margin: 2em 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#model-message {
  margin: 1em 0 0;
  font-size: 1rem;
  font-weight: 200;
}
.restart-btn {
  font-size: 0.8rem;
}
#final-score {
  color: rgb(255, 102, 0);
}
.controls {
  display: grid;
  grid-template-rows: repeat(3, 3em);
  grid-template-columns: repeat(3, 3em);
  place-content: center;
  margin-top: 1.5em;
}
@media (min-width: 400px) {
  .controls {
    display: none;
  }
}
.arrow {
  width: 3em;
  height: 3em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow-top {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url("./assets/arrow-top.svg");
}
.arrow-right {
  grid-column: 3/4;
  grid-row: 2/3;
  background-image: url("./assets/arrow-right.svg");
}
.arrow-bottom {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url("./assets/arrow-bottom.svg");
}
.arrow-left {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("./assets/arrow-left.svg");
}
.guide-text {
  font-size: 0.6rem;
  margin-bottom: 0.8em;
}
.explode {
  position: relative;
}
.explode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  transform: scale(0.5);
  opacity: 0;
  animation: explode 0.5s ease;
}
@keyframes explode {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
